@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Handlee&family=Jost:wght@300&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 4px;
  background: #d9d8d8;
  opacity: 0.6;
}
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: #8b8a8a;
}
hr {
  border: none;
  height: 1px;
  width: 100%;
  background: #4a3f68;
}
.container {
  position: relative;
  min-height: 100vh;
  display: flex;
}
.left {
  width: 32vw;
  background: #52006a;
  color: #ffffff;
  position: relative;
}
.left .icon_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  width: 100vw;
  /* color: #ecf0f1; */
  /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background: rgb(32, 32, 32);
}
/* ul {
  list-style: none;
}
ul li {
  cursor: pointer;
} */
/* .searchbar {
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  width: 15px;
}
.searchbar:hover {
  transform: scale(1.2);
  background: #6a97fe;
}
#side-menu {
  position: absolute;
  top: 32;
  right: 32;
  cursor: pointer;
} */
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c1cede;
  box-shadow: rgba(139, 139, 139, 0.16) 0px 1px 4px;
}
.navbar ul {
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.navbar ul li {
  padding: 10px 40px;
  transition: 0.3s;
  line-height: 2.5em;
  font-weight: bolder;
  font-size: large;
  color: #383838;
}
.navbar ul li:hover {
  background: #f8f9f9;
  color: #333;
}
.songs-list {
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
}
.songs-list ul {
  /* width: 60vw; */
  margin: 0;
}
.songs-list div {
  width: 38vw;
}
.songs-list ul li {
  line-height: 30px;
  margin: 4px 23px 16px 0;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding: 24px 40px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
  /* border: 1px solid rgba(255, 118, 0); */
  display: flex;
  overflow: hidden;
  /* background: #bb540f; */
  background-color: rgba(255, 118, 0);
}
.songs-list ul li:hover {
  background: #ffa900;
  /* background: #b9770e; */
  /* border: 1px solid #ffa900; */
  /* border: 1px solid #b9770e; */
  color: #fff;
}

.songs-list ul li i {
  margin: auto 0;
}

.songs-list ul li span {
  margin-left: 10px;
}
.play-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.play-pause i {
  margin-right: 10px;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transform: scale(1.5);
}
.play-pause i:hover {
  transform: scale(1.7);
}
.options ul {
  transform: translate(-16px);
}
.options ul li {
  display: flex;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  margin-bottom: 2px;
  padding-left: 30px;
}
.options ul li:hover {
  background: #6a97fe;
}
.options ul li i {
  padding: 0 20px 0 0;
}
.settings > span {
  margin-left: 20px;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.settings {
  position: relative;
  top: 40px;
  padding: 12px 6px;
}
.settings:hover {
  background: #6a97fe;
}
/* h3 {
  font-family: "Jost", sans-serif;
  letter-spacing: 3px;
  margin: 0px;
  padding: 19px 20px;
  cursor: pointer;
  font-size: 1.6em;
} */


/* 



*/

ul {
  list-style: none;
}
li {
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-family: "Jost", sans-serif;
  letter-spacing: 3px;
  cursor: pointer;
  padding: 12px 24px;
}
.middle-container {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  height: 69vh;
}

.all-songs {
  /* padding: 0 4px 0 0; */
  width: 48vw;
  height: 100%;
  overflow-y: scroll;
}

.all-songs li {
  display: flex;
  line-height: 30px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  transition: 0.4s;
  background-color: rgb(255, 86, 86);
}

.all-songs li:hover {
  background: #ffa900;
  font-weight: bolder;
  /* background: #b9770e; */
  /* border: 1px solid #ffa900; */
  /* border: 1px solid #b9770e; */
  color: #fff;
}

.song-image {
  width: 48vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.audio-container {
  width: 100vw;
  position: absolute;
  padding: 11px 16px;
  background-color: #4a3f68;
}

.audio-container > audio {
  /* transform: scale(1.2); */
}

.audio-container > span {
  margin: auto 0;
  border: 2px solid black;
  font-size: 2em !important;
  font-weight: bold;
}

.audio-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.main-controllers {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
  color: white;
}
.main-controllers > i {
  cursor: pointer;
}

.other-controllers {
  display: flex;
  padding-right: 28px;
  flex-direction: row-reverse;
  width: 36vw;
}

.curr-song {
  margin-top: 8px;
  display: flex;
  align-items: end;
  gap: 12px;
  width: 36vw;
}

.song-thumb {
  width: 10vh;
  height: 10vh;
  object-fit: cover;
}

.song-text-info {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Jost", sans-serif;
  letter-spacing: 2px;
}

.song-text-info > h3 {
  /* border: 2px solid white; */
  line-height: 8px;
  padding: 19px 0px;
  font-size: 1.6em;
  cursor: pointer;
}

.song-text-info > h5 {
  font-size: 0.8em;
  font-weight: lighter;
}

.play-pause-btn {
  margin: auto 0;
  cursor: pointer;
}

#progress-container {
  width: 98vw;
  height: 8px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #333;
  border-radius: 10px;
  transition: width 0.5s;
}

#timestamp {
  font-size: 2em;
  color: white;
  font-family: "Jost", sans-serif;
}
