@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Handlee&family=Jost:wght@300&family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  background: #d9d8d8;
  opacity: 0.6;
}
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: #8b8a8a;
}
hr {
  border: none;
  height: 1px;
  width: 100%;
  background: #4a3f68;
}
.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  /* color: ; */
}
.left {
  width: 32vw;
  /* background-image: linear-gradient(100deg, #108ff5 29%, #6a6ca6); */
  background: #52006a;
  color: #ffffff;
  position: relative;
}
.left .icon_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  width: 78vw;
  /* background: #873600; */
  /* background: #cd113b; */
  color: #ecf0f1;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
ul {
  list-style: none;
  cursor: pointer;
}
.searchbar {
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  width: 15px;
}
.searchbar:hover {
  transform: scale(1.2);
  background: #6a97fe;
}

#side-menu {
  position: absolute;
  top: 32;
  right: 32;
  cursor: pointer;
}
.navbar {
  overflow: hidden;
  background: #aeb6bf;
}
.navbar ul {
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.navbar ul li {
  padding: 3px 28px;
  transition: 0.3s;
  line-height: 2.5em;
  /* background: ; */
}
.navbar ul li:hover {
  background: #f8f9f9;
  color: #333;
}
.songs-list ul li {
  line-height: 30px;
  margin: 4px 23px 8px 0px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 16px 40px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
  /* border: 1px solid rgba(255, 118, 0); */
  display: flex;
  overflow: hidden;
  /* background: #bb540f; */
  background-color: rgba(255, 118, 0);
}
.songs-list ul li:hover {
  background: #ffa900;
  /* background: #b9770e; */
  /* border: 1px solid #ffa900; */
  /* border: 1px solid #b9770e; */
  color: #fff;
}

.songs-list ul li i {
  margin: auto 0;
}

.songs-list ul li span {
  margin-left: 10px;
}
.play-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.play-pause i {
  margin-right: 10px;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transform: scale(1.5);
}
.play-pause i:hover {
  transform: scale(1.7);
}
.options ul {
  transform: translate(-16px);
}
.options ul li {
  display: flex;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  margin-bottom: 2px;
  padding-left: 30px;
}
.options ul li:hover {
  background: #6a97fe;
}
.options ul li i {
  padding: 0 20px 0 0;
}
#audio_text, .settings > span {
  margin-left: 20px;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.settings {
  position: relative;
  top: 40px;
  padding: 12px 6px;
}
.settings:hover {
  background: #6a97fe;
}
h1 {
  font-family: "Jost", sans-serif;
  letter-spacing: 3px;
  margin-left: 20px;
  cursor: pointer;
}
h3 {
  font-family: "Jost", sans-serif;
  letter-spacing: 3px;
  margin: 0px;
  padding: 19px 20px;
  cursor: pointer;
  font-size: 1.6em;
  /*background-image: linear-gradient(-95deg,#3C8ACA 1%,#4BAAF7,#4BAAF7);*/
}

.audio_container {
  background-color: #4a3f68;
  padding: 12px 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.audio_container > audio {
  /* transform: scale(1.2); */
}

.play-pause-btn {
  margin: auto 0;
}